* {
  box-sizing: border-box;
}

#app-container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  height: 85px;
  background: url('../img/sky.jpg');
  z-index: 2;
  border-bottom: 1px solid gray;
}

h1 {
  display: inline-block;
  color: #d9d9f7;
  font-family: 'Roboto', sans-serif;
  margin-left: 25px;
  transform: translateY(-5px);
}

#logo {
  position: absolute;
  transform: translateY(-170px);
  margin-left: 15px;
}

#img-icons {
  margin-left: 10px;
}

#nav-icon-wrapper {
  margin-left: 375px;
  margin-top: 22px;
  cursor: pointer;
  display: inline-block;
  z-index: 4;
}

.nav-icon {
  width: 35px;
  height: 5px;
  background-color: #4f4fd0;
  margin: 6px 0;
  border-radius: 15px;
  box-shadow: 1px 0 0 0.5px;
}

.sidebar {
  position: absolute;
  width: 340px;
  height: 100%;
  background: black;
  box-shadow: 1px 0 5px 0.5px;
  z-index: 4;
  transition: transform 1s ease;
  overflow-y: scroll;
}

.sidebar-wrapper {
  margin: 15px;
}

#map {
  height: 92%;
  z-index: 3;
}

.header-map-wrapper {
  position: absolute;
  height: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.collapsed {
  transform: translateX(-340px);
  box-shadow: none;
}

.input-fields {
  color: #3fdaf1;
}

hr {
  background: #edf9fb;
  height: 1px;
  margin: 20px 8px 20px 8px;
  border: none;
}

#filter {
  margin-bottom: 20px;
}

.list-group {
  cursor: pointer;
}

.list-group-item {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: black;
  color: yellow;
}

.list-group-item:hover {
  background: gray;
}

.iw-content {
  width: 300px;
  margin-left: 17px;
}

@media (max-width: 940px) {
  #logo {
    width: 300px;
    transform: translateY(-80px);
  }
}

@media (max-width: 725px) {
  #nav-icon-wrapper {
    margin-left: 0;
    margin-right: 10px;
    float: right;
  }
}

@media (max-width: 390px) {
  #nav-icon-wrapper {
    margin-right: 0;
  }
}
